:root {
    --primary-color: steelblue;
    --secondary-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
}
h1::after {
    content: " 📷";
}
main {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
}
picture img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
section {
    background-color: white;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
footer {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}
footer img {
    margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {

    body {
        background-color: #eaeaea;
    }

    main {
        padding: 2rem;
    }
}